<h1>Clinics Vancouver</h1>
<!--
<table border="1" style="width:300px">
  
  <% @allClinicsData.each do |x|  %>
  <tr>
    <td> <%= x.RG_NAME %> </td>
    <td> <%= x.RG_REFERENCE %> </td>
    <td> <%= x.STREET_NUMBER %>  </td> 
    <td> <%= x.STREET_NAME %> </td>
    <td> <%= x.STREET_TYPE %> </td>
    <td> <%= x.CITY %></td>
    <td> <%= x.PROVINCE %></td>
    <td> <%= x.POSTAL_CODE %></td>
    <td> <%= x.WEBSITE %></td>
    <td> <%= x.EMAIL_ADDRESS %></td>
    <td> <%= x.LONGITUDE %></td>
    <td> <%= x.LATITUDE %></td>
  </tr>
  <% end %>


</table>
-->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Gmaps</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= location.longitude %></td>
        <td><%= location.latitude %></td>
        <td><%= location.gmaps %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
<%= gmaps4rails(@json) %>
